/* Reset, Var and Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --font: 'Josefin Sans', sans-serif;
}

/* Work on body and layout */
body {
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 1000px;
    max-width: 1000px;
    max-height: auto;
}

/* First task: text */
#text-box {
    display: flex;
    flex-direction: column;
    margin: 40px 100px 100px 200px;
    gap: 20px;
    font-family: var(--font);
}

#text-box img {
    max-width: 100px;
    max-height: auto;
    width: 120px;
    height: 25px;
}

#logo {
    margin-bottom: 60px;
}

#title {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--dark-grayish-red);
}

span {
    font-weight: 300;
    color: var(--desaturated-red);
}

#informations {
    width: 400px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--desaturated-red);
    line-height: 22px;
    margin-bottom: 10px;
}

/* Second task: form */
#data-entry {
    display: inline-flex;
}

#email {
    width: 300px;
    height: 10px;
    border: 1px solid var(--desaturated-red);
    border-radius: 40px;
    padding: 20px;
    font-family: var(--font);
}

.denied {
    border: 1px solid var(--soft-red);
}

#btn {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    width: 75px;
    height: 10px;
    border: 1px solid var(--desaturated-red);
    border-radius: 40px;
    padding: 20px;
    margin-left: -40px;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 5px 20px 1px var(--desaturated-red);
}

#btn:hover {
    background: linear-gradient(135deg, hsl(0, 32%, 90%), hsl(0, 100%, 86%));
    border: 1px solid transparent;
}

#data-entry img {
    width: 10px;
    height: 17px;
    position: absolute;
    left: 33px;
    top: 12px;
}

.message {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 12px;
}

#error-message {
    color: var(--soft-red);
}

/* Third task: image */
#image-box {
    height: 500px;
}

#image-box img {
    width: 419px;
    height: 550px;
}